# ==============================================================================
# 시스템 설정
# ==============================================================================
# Database
DB_TYPE=DUCKDB
# DB_TYPE=MYSQL
# DB_TYPE=ORACLE

# Data Source Provider
DATA_PROVIDER=FDR
# DATA_PROVIDER=PYKRX
# DATA_PROVIDER=YFINANCE

# ==============================================================================
# 데이터베이스 설정
# ==============================================================================
# --- DuckDB 설정 ---
DUCKDB_PATH=data/finance.db

# --- MySQL 설정 ---
# 강의 자료 참고
# https://www.notion.so/nano5/MySQL-318daf211d428133a5a2d2a5399d2dc4?v=318daf211d42814d9beb000c97572fd2&source=copy_link
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=비밀번호_MYSQL
MYSQL_DB=finance

# --- Oracle 설정 ---
# 강의 자료 참고
# https://www.notion.so/nano5/Oracle-335daf211d4280a8aca2f9bd5a3ee2db?v=318daf211d42814d9beb000c97572fd2&source=copy_link
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_USER=system
ORACLE_PASSWORD=비밀번호_ORACLE
ORACLE_SERVICE_NAME=XEPDB1

# --- Supabase (PostgreSQL) 설정 ---
# 강의 자료 참고
# https://www.notion.so/nano5/Supabase-318daf211d4281d3a515ddbda4dd9542?v=318daf211d42814d9beb000c97572fd2&source=copy_link
SUPABASE_HOST=aws-1-ap-northeast-2.pooler.supabase.com
SUPABASE_PORT=5432
SUPABASE_USER=postgres.Porject_ID (Project Settings에서 확인)
SUPABASE_PASSWORD=비밀번호 (생성할 때 복사해 둔 것)
SUPABASE_DB=postgres